<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title><%= title %></title>
</head>

<body>
    <div class="mt-5 container"
        style="border: 1px solid black; background-color: whitesmoke; border-top-left-radius: 30px; border-bottom-right-radius: 30px;">
        <div class="mt-4 mb-4">
            <form class="container" action="/edit/" method="post" enctype="multipart/form-data">
                <input type="text" name="idd" value="<%= records._id %>" hidden >
                <h1 style="text-align: center; color: gray;">Update Registration Form</h1>
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" name="ename" id="exampleInputEmail1" value="<%= records.name %>"
                        aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="email" class="form-control" name="empmail" id="exampleInputPassword1" value="<%= records.email %>"> 
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Employee Type</label>
                    <select class="form-control" name="emptype">
                        <option value="Hourly" <% if(records.etype == "Hourly"){ %>selected <% } %>>Hourly</option>
                        <option value="Fixed" <% if(records.etype == "Fixed"){ %>selected <% } %>>Fixed</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Hourly Rate</label>
                    <input type="text" class="form-control" name="hrlyrate" id="exampleInputEmail1" value="<%= records.hourlyrate %>"
                        aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Total Hour</label>
                    <input type="text" class="form-control" name="ttlhrs" id="exampleInputEmail1" value="<%= records.totalHour %>"
                        aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">profile File</label>
                    <input type="file" class="form-control" name="file" id="exampleInputEmail1" aria-describedby="emailHelp" >
                </div>
                <% if(records.image){ %>
                    <img src="/uploads/<%= records.image %>" alt="Pic" width="80">
                <% } %><br><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>